@inherits BocchiComponentBase

<div class="background"></div>

<style>
    .background {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
        background: url("https://img.xjh.me/random_img.php?return=302&type=bg&ctype=nature") center;
        background-size: cover;
    }
</style>

